/* #left,
#right {
  width: 50%;
} */

#hero {
  background-color: rgb(182, 181, 181);
}

#left {
  width: 60%;
  float: left;
  color: rgb(255, 255, 255);
}

.hero-card-img img {
  width: 150px;
  height: 100px;
  object-fit: cover;
}

#right {
  width: 40%;
  float: right;
  display: flex;
  padding: 2.5rem;
  color: rgb(255, 255, 255);
}

#right #right-content {
  background-color: rgba(250, 250, 250, 0.2);
  padding: 0.8rem 0.6rem;
}

#right #right-content img {
  width: 150px;
  height: 100px;
  object-fit: cover;
}
